<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="x-icon" href="/static/M.svg">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Confirmation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .list-group-item{
        color:#007bff;
    }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">Application Confirmation</h2>
        <ul class="list-group">
            <li class="list-group-item"><strong>Full Name:</strong> {{ application['name'] }}</li>
            <li class="list-group-item"><strong>Email:</strong> {{ application['email'] }}</li>
            <li class="list-group-item"><strong>Highest Education:</strong> {{ application['education'] }}</li>
            <li class="list-group-item"><strong>Work Experience:</strong> {{ application['experience'] }}</li>
            <li class="list-group-item"><strong>Skills:</strong>
                <ul>
                    {% for skill in application['skills'].split(',')%}
                        <li>{{skill}}</li>
                    {%endfor%}
                </ul>
            </li>
            <li class="list-group-item"><strong>LinkedIn URL:</strong> <a href="{{ application['linkedin'] }}" target="_blank">{{ application['linkedin'] }}</a></li>
            <li class="list-group-item"><strong>Resume URL:</strong> <a href="{{ application['resume'] }}" target="_blank">{{ application['resume'] }}</a></li>
        </ul>
        <a href="/" class="btn btn-primary mt-3">Home</a>
    </div>

</body>
</html>

