<div class="border-bottom row" style="margin-bottom:16px;padding-bottom:8px;">
  <div class="col-10">
    <h4
      style="color:rgb(70,70,70); margin-bottom:4px;">
      <b>{{job['role']}}</b>
    </h4>
    <h5
      style="color:rgb(90,90,90); margin-bottom:4px;">
      <a href="{{job['website']}}" target="_blank">{{job['company']}}</a>
    </h5>
    <div>
      <b>Location:</b> {{job['location']}}
    </div>
    {% if 'salary' in job %}
    <div>
      <b>Salary:</b> {{job['salary']}} {{job['currency']}}

    </div>
    {% endif %}
  </div>
  <div class="col-2 padding-right:15px">
    <a href="jobs/{{job['id']}}" type="button"  class="btn btn-outline-primary float-right align-middle" >View details</a>
  </div>

</div>
