<nav class="navbar shadow-sm fixed-top bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/static/M.svg" alt="" width="40" height="31" class="d-inline-block align-text-top" style="font-family: 'Arial'" >
      MY JOBS
    </a>
    <div class="col-md-3 text-end">
<!--        <button type="button" class="btn btn-outline-primary me-2">Login</button>-->
        <a href="/job-posting" type="button" class="btn btn-primary">Post a job</a>
    </div>
  </div>
</nav>