<!--<nav class="navbar shadow-sm fixed-top bg-white">-->
<!--  <div class="container-fluid">-->
<!--    <a class="navbar-brand" href="#">-->
<!--      <img src="/static/M.svg" alt="" width="40" height="31" class="d-inline-block align-text-top">-->
<!--      My JOBS-->
<!--    </a>-->
<!--  </div>-->
<!--</nav>-->
<!--<div style="height:56px"></div>-->
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom fixed-top bg-white">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img src="/static/M.svg" alt="" width="50" height="51" class="d-inline-block align-text-top">
        <span class="fs-4">MY JOBS</span>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
<!--        <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>-->
        <li><a href="#" class="nav-link px-2 link-dark">DELETE</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">ADD</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary me-2" >Login</button>
        <button type="button" class="btn btn-primary">Sign-up</button>
      </div>
    </header>